#content{
font-family: helvetica, arial,sans-serif; 	
}
h1._cv {
	text-align: center;
	font-variant:small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
}
table#download {
	float: right;
}
h2._cv {
	background-color:#BFBFBF;
	text-align: left;
}

table._cv {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
}
table._cv, th._cv, td._cv
{
	border : 1px solid black;
}


/*  ===  compentences styles  ====  */
._cv.skilllabel {
	font-weight: bolder;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


/*  ====   education styles   =====  */


/*  ===  experiences styles  ====  */
._cv.date {
	/*float: left;*/
	background-color:#BFBFBF;
}

._cv.enterprise {
	/*float: right;*/
	background-color:#BFBFBF;
}

.xpTechno {
	font-weight:bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


.clearfloatting{
	clear:both;
}