/*  === global styles ==== */
img.home {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 400px;
	height: 400px;
}

ul#motivations.home {
	list-style-type: square;
}

ul#webtechnologies.home{
	list-style-type: none;
}