
/*  === global styles ==== */


#content img{
	width: 100px;
	height: 100px;
}

#content ul #motivations{
list-style-type:square;
}

#content ul #webtechnologies{
list-style-type:none;
}
