
/* Logo */

#sidebar {
	float: left;
	margin: 40px;
	width: 30%;
	padding: 0;
	background: #800000;
}

/*
#sidebar #logo {
	width: 280px;
	height: 140px;
	margin: 0;
	padding: 0;
	background: url(../images/_style1_img07.jpg) no-repeat left top;
	color: #34312C;
}

#sidebar #logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: -2px;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#sidebar #logo h1 {
	margin: 0px 0px -20px 0px;
	padding: 20px 0px 0px 0px;
	font-size: 50px;
	color: #4D8D99;
}

#sidebar #logo h1 a {
	color: #F0E9E9;
}

#sidebar #logo p {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
} 

#sidebar #logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #34312C;
}


#sidebar #search {
	width: 280px;
	height: 50px;
	padding: 20px 0px 0px 0px;
	background: url(../images/_style1_img05.jpg) no-repeat left 15px;
}

#sidebar #search form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar #search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#sidebar #search-text {
	width: 190px;
	padding: 0px 5px 2px 10px;
	border: none;
	background: none;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #34312C;
}

#sidebar #search-submit {
	width: 70px;
	height: 22px;
	border: none;
	border: none;
	background: none;
	text-indent: -99999px;
	color: #34312C;
}


#sidebar #menu {
	width: 280px;
	margin: 20px auto 20px auto;
	padding: 0;
}

#sidebar #menu ul {
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#sidebar #menu li {
	border-bottom: 1px dashed #191918;
}

#sidebar #menu a {
	display: block;
	width: 260px;
	height: 27px;
	margin: 4px 0px;
	padding: 8px 0px 0px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
}

#sidebar #menu a:hover, #menu .current_page_item a {
	background: url(../images/_style1_img06.jpg) no-repeat left top; 
	text-decoration: none;
}

#sidebar #menu .current_page_item a {
}




#sidebar #sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar #sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar #sidebar li ul {
	margin: 0px 0px 0px 20px;
	padding-bottom: 30px;
}

#sidebar #sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #191918;
	border-left: none;
}

#sidebar #sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar #sidebar li li a {
	color: #787878;
}

#sidebar #sidebar li li a:hover {
	color: #F0E9E9;
}

#sidebar #sidebar h2 {
	height: 38px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar #sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
}

#sidebar #sidebar a {
	border: none;
}

#sidebar #sidebar a:hover {
}
*/