
/*  === global styles ==== */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #F0F8FF;
}

#page-header {
	margin: 0;
	padding: 0;
	height: 140px;
	background: #00FFFF;
}

#botton-page {
	clear:both;
}


#page {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #A9A9A9;
}


#page-footer {
	margin: 0;
	padding: 0;
	height: 140px;
	background: #00FFFF;
}
