h1.cv,h2.cv,h3.cv {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FF0000;
}

h1.cv {
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h2.cv {
	font-size: 2.5em;
	text-align: right;
}

table.cv,th.cv,td.cv {
	border: 1px solid black;
}

table.cv {
	border: 1px solid black;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

/*  ===  compentences styles  ====  */
#competences.skilllabel.cv {
	font-weight: bold;
	color: red;
}


/*  ====   education styles   =====  */


/*  ===  experiences styles  ====  */
.cv.date {
	float: left;
}

.cv.enterprise {
	float: right;
}

.clearfloatting{
	clear:both;
}