h1._cv,h2._cv,h3._cv {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FF0000;
}

h1._cv {
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h2._cv {
	font-size: 2.5em;
	text-align: right;
}

table._cv,th._cv,td._cv {
	border: 1px solid black;
}

table._cv {
	border: 1px solid black;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

/*  ===  compentences styles  ====  */
#competences.skilllabel._cv {
	font-weight: bold;
	color: red;
}


/*  ====   education styles   =====  */


/*  ===  experiences styles  ====  */
._cv.date {
	float: left;
}

._cv.enterprise {
	float: right;
}

.clearfloatting{
	clear:both;
}