/*  === global styles ==== */
.home img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 400px;
	height: 400px;
}

.home ul #motivations {
	list-style-type: square;
}

.home ul #webtechnologies{
	list-style-type: none;
}