/*  === global styles ==== */
img._home {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 400px;
	height: 400px;
}

ul#motivations._home {
	list-style-type: square;
}

ul#webtechnologies._home{
	list-style-type: none;
}