
#sidebar #menu ul {
	border: 1px solid black;
	float: right;
	list-style-type: none;
}

#sidebar #clearfloatting {
	clear: both;
}

#sidebar h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0000FF;
}

