
ul.sidebar.menu {
	border: 1px solid black;
	float: right;
	list-style-type: none;
}

ul.sidebar.news {
	list-style-type: square;
}

div.clearfloatting {
	clear: both;
}


h1.sidebar,h2.sidebar,h3.sidebar {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #0000FF;
}