
body{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
	background-color:#FFFFFF;
}

#whole-page{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
}

#page-header{
	margin : 0 0 0 0;
	padding: 0 0 0 0;	
}

#page{
	padding: 0 0 0 0;
}

#actuallang{
	display:none;	
}

#top-page{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
	clear:both;
}

#sidebar{
	float:left;
}

#content{
	float:right;
}

#botton-page{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
	clear:both;
}

#page-footer{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
	text-align:center;
}
